body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    flow-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #4e342e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #4e342es;
}
