body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat:no-repeat;
    background-size:100%;
}

nav {
    background-color: #6f4e37;
    padding: 10px 20px;
    margin: 0;
    text-align:center;
}

nav a {
    color: white;
    margin: 50px;
    text-decoration: none;
    font-size:20px;
}

nav h {
    color: white;
    font-weight:bold;
    text-align:left;
    font-family:chiller;
    font-size: 50px;
}

.fa-search {
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.fa-search:hover {
    color: #d7ccc8;
}

section {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size:50px;
    padding:15%;
}

ul {
    margin: 20px;
    font-weight: bold;
    padding: 5%;
    font-size: 28px;
    color: white;
}

button {
    background-color: #6f4e37;   
    color: white;
    padding: 5px 10px;
    border-radius: 5%;
    cursor: pointer;
    font-size: 16px;
}

div {
    font-weight: bold;
    font-size: 28px;
    color: white;
    margin: 50px;
    padding:14%;
}

footer {
    background:#6f4e37;
    color: white;
    text-align: center;
    padding: 15px;
}
